.Container {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  font-size: 0;
}

.Container > div {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1rem;
}

.Container h1 {
  font-size: 1rem;
  text-align: center;
  color: #393b44;
}

.Container input {
  width: 80%;
  text-align: center;
}
