.Container {
  width: 80%;
  margin: 0 auto;
  font-size: 0;
  display: block;
}

.Container > div {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  font-size: 1rem;
}

.Container h1 {
  font-size: 1rem;
  text-align: center;
  color: #393b44;
}

.Container input {
  width: 100%;
  text-align: center;
}
