.Element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1.5px solid black;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Element > div:last-child {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.Element svg {
  transition: 0.3s;
}

.Element button:hover svg {
  color: red;
}
